<div id="password_container">

	<div class="password_box">
		<h1>Forgot your password?</h1>
		
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field_email">
		    <%= f.label "email:", class: "emails" %>
		    <%= f.email_field :email, autofocus: true, class: "password_info" %>
		  
		    <%= f.submit "Reset Password", class: "reset_button" %>

		  	<%= link_to "Back", root_path, class: "back_button", class: "back_button" %>
		  </div>

		<% end %>
	</div>

	<%= render :partial => "shared/forgot_password" %>
	
</div>