<div id="signup_wrapper">

  <p>Sign Up</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="signup">
      <%= f.text_field :username, class: "signup_info", placeholder: "Username" %><br>
   
      <%= f.email_field :email, autofocus: true, class: "signup_info", placeholder: "Email" %><br>

      <%= f.password_field :password, class: "signup_info", placeholder: "Password (Min. 5 Characters)", autocomplete: "off" %>
      <br>

      <%= f.password_field :password_confirmation, class: "signup_info", placeholder: "Confirm Password", autocomplete: "off" %><br>
      <br>
      
      <%= f.submit "Sign up", class: "signup_button" %>
      <%= link_to "Back", root_path, class: "back_button" %>
    </div>

  <% end %>

  <%= render :partial => "shared/for_signup" %>
  
</div>
